.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    line-height: 0;

    display: table;

    content: '';
}

.clearfix:after {
    clear: both;
}

.breakfix {
    clear: both;
}

.hide-text {
    font: 0/0 a;

    color: transparent;
    border: 0;
    background-color: transparent;
    text-shadow: none;
}

.input-block-level {
    display: block;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    min-height: 30px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;

    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
}

html {
    font-size: 100%;

    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a, a:hover, a:active {
    outline: 0;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;

    position: relative;

    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;

    vertical-align: middle;

    -ms-interpolation-mode: bicubic;
    border: 0;
}

#map_canvas img,
.google-maps img {
    max-width: none;
}

button,
input,
select,
textarea {
    font-size: 100%;

    margin: 0;

    vertical-align: middle;
}

button,
input {
    line-height: normal;

    *overflow: visible;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    cursor: pointer;

    -webkit-appearance: button;
}

label,
select,
button,
input[type='button'],
input[type='reset'],
input[type='submit'],
input[type='radio'],
input[type='checkbox'] {
    cursor: pointer;
}

input[type='search'] {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;

    -webkit-appearance: textfield;
}

textarea {
    overflow: auto;

    vertical-align: top;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    padding: 0;
}

@media print {
    * {
        color: #000 !important;
        background: transparent !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: ' (' attr(href) ')';
    }

    abbr[title]:after {
        content: ' (' attr(title) ')';
    }

    .ir a:after,
    a[href^='javascript:']:after,
    a[href^='#']:after {
        content: '';
    }

    pre,
    blockquote {
        border: 1px solid #999;

        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: .5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

a {
    text-decoration: none;

    color: #005580;
}

a:hover,
a:focus {
    color: #08c;
}

.img-rounded {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.hidden {
    display: none;
}

::selection {
    color: #fff;
    background: #FFAB91;
}
::-moz-selection {
    color: #fff;
    background: #FFAB91;
}
/* / reset styles */

/* animation styles */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
}

/* / animation styles */

body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, verdana, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;

    margin: 0;
    padding: 0;

    color: #999;
    background-color: #131313;
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px) grayscale(1);
    -o-filter: blur(5px);
    filter: blur(5px);
}

.grayscale {
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: grayscale(1);
}

.grayscale_blur {
    -webkit-filter: blur(5px) grayscale(1);
    -moz-filter: blur(5px) grayscale(1);
    -ms-filter: blur(5px) grayscale(1);
    -o-filter: blur(5px) grayscale(1);
    filter: blur(5px) grayscale(1);
}

.modal_window {
    position: absolute;
    z-index: 1000;

    display: none;
}

.input,
input[type='text'],
input[type='submit'],
input[type='password'],
textarea {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, verdana, Arial, sans-serif;
    font-size: 13px;

    padding: 0 6px;
    height: 23px;

    color: #222;
    border: 1px solid rgba(34, 34, 34, .4);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #cdcdcd;
    box-shadow: none;
}

input[type='text']:focus,
input[type='password']:focus,
textarea:focus {
    border-color: rgba(82, 168, 236, .75);
    outline: none medium;
    -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, .4);
    -moz-box-shadow: 0 0 8px rgba(82, 168, 236, .4);
    box-shadow: 0 0 8px rgba(82, 168, 236, .4);
}

* html li li {
    display: inline;
}

.vk,
.vk:hover {
    background-color: #5f83aa;
}

.vk .icon {
    background: transparent url(def/share_icons.png) -199px -4px no-repeat;
}

.facebook,
.facebook:hover {
    background-color: #435eac;
}

.facebook .icon {
    background: transparent url(def/share_icons.png) -3px -5px no-repeat;
}

.twitter,
.twitter:hover {
    background-color: #00aced;
}

.twitter .icon {
    background: transparent url(def/share_icons.png) -172px -4px no-repeat;
}

.google,
.google:hover {
    background-color: #d64a2d;
}

.google .icon {
    background: transparent url(def/share_icons.png) -36px -4px no-repeat;
}

.pinterest,
.pinterest:hover {
    background-color: #cc2127;
}

.pinterest .icon {
    background: transparent url(def/share_icons.png) -105px -5px no-repeat;
}

#ajax_overlay {
    position: absolute;
    min-height: 60px;
    /*opacity: 0.2;*/
}

.loader {
    background: transparent url(trans_loader.gif) no-repeat 50% 30px;
}

.cropIcon {
    cursor: pointer;
}

.crop_overlay_dark {
    position: absolute;
    opacity: 0.9;
    background: #000;
}

.crop_overlay_light {
    position: absolute;
}

#debug {
    font-size: 10px;
    line-height: 16px;

    clear: both;

    padding: 0 6px;

    color: #666;
    border-top: 1px solid #111;
}

#resultMsg {
    font-size: 14px;
    font-weight: 700;
    line-height: 33px;

    display: none;

    width: 100%;
    margin: 0;

    text-align: center;

    color: #fff;
    /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
    /*-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;*/
}

.okMsg {
    background: #57a957;
    /*background: -webkit-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
    background: -moz-linear-gradient(top, #62c462, #57a957);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957');*/
}

.errMsg {
    background: #c43c35;
    /*background: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
    background: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35');*/
}

#social_links {
    position: fixed;
    z-index: 1000;
    top: 10px;
    right: 5px;
}

#social_links a {
    display: block;

    margin-right: 5px;
}

.menuItem {
    cursor: pointer;
    display: block;
    float: right;
    text-align: center;
    width: 47px;
    height: 47px;
    line-height: 47px;
    border-left: 1px solid #111;
}

.icon_bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 4px 0 4px 12px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    background-color: #fff;
}

#submenu {
    background: #000;
}

.submenuItem {
    font: normal 16px/47px "Open Sans Condensed", serif;
    height: 47px;
    display: block;
    padding-right: 10px;
    text-align: right;
    color: #999;
    border-bottom: 1px solid #111;
}

.submenuItem:hover {
    color: #fff;
}

.actMenuItem {
    color: #fff;
}

.wrapContent {
    max-width: 400px; /* will be always redefined in page header */
    margin: 0 auto;
}

.wrapContentImg {
    max-width: 100%;
    margin: 0 auto;
}

#ajaxBody img {
    max-width: 100%;
}

#pagerTop a, #pagerBottom a {
    display: block;
    width: 50%;
    max-width: 200px;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    font-weight: 700;
}

.prevNext {
    float: right;
    width: 98px;
}

.nextLnk {
    background: #000 url(trans_nav.png) no-repeat -283px 50%;
}

.prevLnk {
    background: #000 url(trans_nav.png) no-repeat 15px 50%
}

.header {
    width: 100%;
    min-height: 47px;
    background: #000;
}

.logo {
    float: left;
    width: 170px;
    height: 47px;
}

.logo img {
    max-width: 100%;
}

.footer {
    width: 100%;
    min-height: 47px;
    background: #000;
}

.footerLnk {
    font: normal 16px/47px "Open Sans Condensed", serif;
    height: 47px;
    float: left;
    display: block;
    padding: 0 10px;
    border-left: 1px solid #111;
    border-right: 1px solid #111;
}

.title {
    height: 36px;
    line-height: 36px;
}

.title a {
    padding: 0 6px;
    display: block;
    color: #999;
    font-weight: 700;
}

.commAuth {
    vertical-align: top;
    padding: 7px 0 0 6px;
}

.commAuth a {
    display: block;
    width: 31px;
}

.commAuth img {
    width: 31px;
    height: 31px;
}

.comments a {
    width: 50px;
}

.comments img {
    width: 50px;
    height: auto;
}

.commTextTd {
    padding: 0 6px 16px 10px;
    vertical-align: top;
}

.commText {
    max-width: 320px;
    overflow: hidden;
    word-wrap: break-word;
}

.commQuote {
    padding: 5px 5px;
    margin: 8px 0 8px 20px;
    background-color: #111;
    border: 1px solid #333;
    font-size: 12px;
    line-height: 15px;
}

.imgWrap {
    position: relative;
    padding: 0;
}

.imgMetrics {
    padding: 0 6px;
    height: 36px;
    line-height: 34px;
    font-size: 12px;
    text-align: right;
}

.imgMetrics b {
    font-size: 15px;
}

.nudePreview {
    background: #303030 url(black/nu.png) no-repeat 50% 50%;
}

.nudePreviewThumb {
    background: #303030 url(black/nu_thumb.png) no-repeat 50% 50%;
}

.phRatingBlk {
    font-family: "Open Sans Condensed", serif;
    float: left;
    /*width: 120px;*/
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
}

#fineartAjax, #homeAlbumAjax {
    float: right;
    /*width: 60px;*/
    text-align: right;
    margin-left: 6px;
}

#addRecAjax {
    float: right;
    /*width: 120px;*/
    text-align: right;
    margin-left: 6px;
}

.recNote {
    font-family: "Open Sans Condensed", serif;
    font-size: 10px;
    line-height: 11px;
    display: block;
}

.saveBtn {
    font: 700 12px/22px "Open Sans Condensed", serif;
    display: inline-block;

    height: 22px;
    padding: 0 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    outline: 0;
}

.saveBtn {
    color: #fff;
    border: solid 1px #445f7f;
    background: #5e84ae;
    background: -webkit-gradient(linear, left top, left bottom, from(#80a6d0), to(#5e84ae));
    background: -moz-linear-gradient(top, #80a6d0, #5e84ae);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80a6d0', endColorstr='#5e84ae');
}

.saveBtn:hover {
    color: #fff;
    background: #6791bf;
    background: -webkit-gradient(linear, left top, left bottom, from(#739dcb), to(#6791bf));
    background: -moz-linear-gradient(top, #739dcb, #6791bf);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#739dcb', endColorstr='#6791bf');
}

.saveBtn:active {
    color: #fff;
    background: #618bb9;
    background: -webkit-gradient(linear, left top, left bottom, from(#537dab), to(#618bb9));
    background: -moz-linear-gradient(top, #537dab, #618bb9);
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .5);
    -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .5);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .5);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#537dab', endColorstr='#618bb9');
}

.undoBtn {
    color: #fff;
    border: solid 1px #962727;
    background: #cd3c3c;
    background: -webkit-gradient(linear, left top, left bottom, from(#d96a6a), to(#cd3c3c));
    background: -moz-linear-gradient(top, #d96a6a, #cd3c3c);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d96a6a', endColorstr='#cd3c3c');
}

.undoBtn:hover {
    color: #fff;
    border: solid 1px #962727;
    background: #d96a6a;
    background: -webkit-gradient(linear, left top, left bottom, from(#d96a6a), to(#d96a6a));
    background: -moz-linear-gradient(top, #d96a6a, #d96a6a);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d96a6a', endColorstr='#d96a6a');
}

.undoBtn:active {
    color: #fff;
    border: solid 1px #962727;
    background: #d96a6a;
    background: -webkit-gradient(linear, left top, left bottom, from(#cd3c3c), to(#d96a6a));
    background: -moz-linear-gradient(top, #cd3c3c, #d96a6a);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cd3c3c', endColorstr='#d96a6a');
}

#homeAlbumBtn {
    width: 51px;
    height: 24px;
    border: none;
    padding: 0;
}

#fineartBtn {
    background: #e6e6e6;
    color: #757575;
    height: 24px;
    line-height: 24px;
    font-weight: 700;
    border: none;
    text-shadow: none;
}

#portfolioLnk {
    background: #e6e6e6;
    color: #757575;
    height: 24px;
    line-height: 24px;
    font-weight: 700;
    border: 1px solid #757575;
    text-shadow: none;
}

.authBadge {
    position: absolute;
    left: 0;
    bottom: 0;
}

.footer a {
    color: #999;
}

.footer a:hover {
    color: #fff;
}

/* mobile css */
@media only screen and (max-width: 480px), only screen and (max-height: 360px) {

}

/* /mobile css */