@import './normalize.css';
@import './base.css';
@import './print.css';
@import './animation.css';

$font-main: 'Open Sans', 'Helvetica Neue', Helvetica, verdana, Arial, sans-serif;
$font-title: "Open Sans Condensed", serif;

$body-bgcolor: #131313;
$body-color: #999;
$body-color-hover: #fff;

$body-color-contrast: #fff;

body {
  font-family: $font-main;
  font-size: 14px;
  line-height: 20px;

  margin: 0;
  padding: 0;

  color: $body-color;
  background-color: $body-bgcolor;
}

.modal_window {
  position: absolute;
  z-index: 1000;
  display: none;
}

* html li li {
  display: inline;
}

#ajax_overlay {
  position: absolute;
  min-height: 60px;
  /*opacity: 0.2;*/
}

.loader {
  background: transparent url(trans_loader.gif) no-repeat 50% 30px;
}

/********************************************/
$content-width: 400px; /* will be always redefined in page header */

.wrapContent {
  max-width: $content-width;
  margin: 0 auto;
}

.wrapContentImg {
  max-width: 100%;
  margin: 0 auto;
}

#ajaxBody img {
  max-width: 100%;
}

#mainImage {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.imgWrap {
  position: relative;
  padding: 0;
}

.imgMetrics {
  white-space: nowrap;
  padding: 0;
  margin-bottom: 10px;
  height: 36px;
  line-height: 34px;
  font-size: 16px;
  font-family: Open Sans Condensed, serif;
  text-align: left;
  background-color: #060606;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.nudePreview {
  @extend .blur;
}

.nudePreviewThumb {
  @extend .blur;
}

/********************************************/

/********************************************/

@mixin gradient($from, $to) {
  background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background: -moz-linear-gradient(top, $from, $to);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
}

@mixin blur($radius) {
  -webkit-filter: blur($radius);
  -moz-filter: blur($radius);
  -ms-filter: blur($radius);
  -o-filter: blur($radius);
  filter: blur($radius);
}

@mixin grayscale($procent) {
  -webkit-filter: grayscale($procent);
  -moz-filter: grayscale($procent);
  -ms-filter: grayscale($procent);
  -o-filter: grayscale($procent);
  filter: grayscale($procent);
}

@mixin grayscale-blur($radius, $procent) {
  -webkit-filter: blur($radius) grayscale($procent);
  -moz-filter: blur($radius) grayscale($procent);
  -ms-filter: blur($radius) grayscale($procent);
  -o-filter: blur($radius) grayscale($procent);
  filter: blur($radius) grayscale($procent);
}

$blur-radius: 5px;

.blur {
  @include blur($blur-radius);
}

.grayscale {
  @include grayscale(100%);
}

.grayscale_blur {
  @include grayscale-blur(5px, 100%);
}

/********************************************/

/********************************************/
.input,
input[type='text'],
input[type='submit'],
input[type='password'],
textarea {
  font-family: $font-main;
  font-size: 13px;
  padding: 0 6px;
  height: 23px;
  color: #222;
  border: 1px solid rgba(34, 34, 34, .4);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #cdcdcd;
  box-shadow: none;
}

input[type='text']:focus,
input[type='password']:focus,
textarea:focus {
  border-color: rgba(82, 168, 236, .75);
  outline: none medium;
  -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, .4);
  -moz-box-shadow: 0 0 8px rgba(82, 168, 236, .4);
  box-shadow: 0 0 8px rgba(82, 168, 236, .4);
}

/********************************************/

/********************************************/
$a-color: #005580;
$a-color-hover: #08c;

$selection-color: #fff;
$selection-bgcolor-focus: #FFAB91;

a {
  text-decoration: none;
  color: $a-color;
}

a:hover, a:focus {
  color: $a-color-hover;
}

::selection {
  color: $selection-color;
  background: $selection-bgcolor-focus;
}

::-moz-selection {
  color: $selection-color;
  background: $selection-bgcolor-focus;
}

@mixin rounded($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.img-rounded {
  @include rounded(4px)
}

/********************************************/

/********************************************/
.unsubscribe {
  background: #00aced;
}

.title {
  padding-bottom: 3px;
}

.title a {
  padding: 0 6px;
  display: block;
  color: $body-color;
  font: normal 16px/36px $font-title
}

.title a:hover, .title a:active, .title a:focus {
  color: $body-color-hover;
}

.header {
  width: 100%;
  min-height: 47px;
  background: #000;
}

.logo {
  float: left;
  width: 170px;
  height: 47px;
}

.logo img {
  max-width: 100%;
}

.footer {
  width: 100%;
  min-height: 47px;
  background: #000;
}

.footerLnk {
  font: normal 16px/47px $font-title;
  height: 47px;
  float: left;
  display: block;
  padding: 0 10px;
  border-left: 1px solid #111;
  border-right: 1px solid #111;
}

/********************************************/

/********************************************/
.menuItem {
  cursor: pointer;
  display: block;
  float: right;
  text-align: center;
  width: 47px;
  height: 47px;
  line-height: 47px;
  border-left: 1px solid #111;
}

.icon_bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 4px 0 4px 12px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  background-color: $body-color-contrast;
}

#submenu {
  background: #000;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.submenuItem {
  font: normal 16px/47px $font-title;
  height: 47px;
  display: block;
  padding-right: 10px;
  text-align: right;
  color: $body-color;
  border-bottom: 1px solid #111;
}

.submenuItem:hover, .submenuItem:active, .submenuItem:focus {
  color: $body-color-hover;
}

.actMenuItem {
  color: $body-color-hover;
}

/********************************************/

/********************************************/

@mixin btn-box-shadow() {
  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .5);
  -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .5);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .5);
}

@mixin btn-text-shadow($size) {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, $size);
}

$btn-color: #fff;

.btn {
  font: 700 12px/22px $font-title;
  display: inline-block;

  height: 22px;
  padding: 0 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  outline: 0;
}

.saveBtn {
  @extend .btn;
  color: $btn-color;
  border: solid 1px #445f7f;
  background: #5e84ae;
  @include btn-text-shadow(.3);
  @include gradient(#80a6d0, #5e84ae);
}

.saveBtn:hover {
  color: $btn-color;
  background: #6791bf;
  @include gradient(#739dcb, #6791bf);
}

.saveBtn:active, .saveBtn:focus {
  color: $btn-color;
  background: #618bb9;
  @include btn-box-shadow();
  @include gradient(#537dab, #618bb9);
}

.unfollowBtn, .undoBtn {
  @extend .btn;
  color: $btn-color;
  border: solid 1px #962727;
  background: #cd3c3c;
  @include btn-text-shadow(.3);
  @include gradient(#d96a6a, #cd3c3c);
}

.unfollowBtn:hover, .undoBtn:hover {
  color: $btn-color;
  border: solid 1px #962727;
  background: #d96a6a;
  @include btn-text-shadow(.3);
  @include gradient(#d96a6a, #d96a6a);
}

.unfollowBtn:active, .undoBtn:active, .unfollowBtn:focus, .undoBtn:focus {
  color: $btn-color;
  border: solid 1px #962727;
  background: #d96a6a;
  @include btn-text-shadow(.3);
  @include gradient(#cd3c3c, #d96a6a);
}

#homeAlbumBtn {
  width: 51px;
  height: 24px;
  border: none;
  padding: 0;
}

#fineartBtn {
  background: #e6e6e6;
  color: #757575;
  height: 24px;
  line-height: 24px;
  font-weight: 700;
  border: none;
  text-shadow: none;
}

#portfolioLnk {
  background: #e6e6e6;
  color: #757575;
  height: 24px;
  line-height: 24px;
  font-weight: 700;
  border: 1px solid #757575;
  text-shadow: none;
}

.auth_avatar {
  max-width: 100px;
  max-height: 100px;
}

.authBadge {
  position: absolute;
  left: 0;
  bottom: 0;
  vertical-align: sub;
}

.footer a {
  color: $body-color;
}

.footer a:hover, .footer a:active, .footer a:focus {
  color: $body-color-hover;
}

/********************************************/

/********************************************/
#social_links {
  position: fixed;
  z-index: 1000;
  top: 10px;
  right: 5px;
}

#social_links a {
  display: block;
  margin-right: 5px;
}

$share-icons-bg: transparent url(def/share_icons.png);

.vk, .vk:hover, .vk:active, .vk:focus {
  background-color: #5f83aa;
}

.vk .icon {
  background: $share-icons-bg -199px -4px no-repeat;
}

.facebook, .facebook:hover, .facebook:active, .facebook:focus {
  background-color: #435eac;
}

.facebook .icon {
  background: $share-icons-bg -3px -5px no-repeat;
}

.twitter, .twitter:hover, .twitter:active, .twitter:focus {
  background-color: #00aced;
}

.twitter .icon {
  background: $share-icons-bg -172px -4px no-repeat;
}

.google, .google:hover, .google:active, .google:focus {
  background-color: #d64a2d;
}

.google .icon {
  background: $share-icons-bg -36px -4px no-repeat;
}

.pinterest, .pinterest:hover, .pinterest:active, .pinterest:focus {
  background-color: #cc2127;
}

.pinterest .icon {
  background: $share-icons-bg -105px -5px no-repeat;
}

/********************************************/

/********************************************/
.cropIcon {
  cursor: pointer;
}

.crop_overlay_dark {
  position: absolute;
  opacity: .90;
  filter: alpha(opacity=90);
  background-color: #000;
}

.crop_overlay_light {
  position: absolute;
}

/********************************************/

/********************************************/
#debug {
  font-size: 10px;
  line-height: 16px;

  clear: both;

  padding: 0 6px;

  color: #666;
  border-top: 1px solid #111;
}

.msg {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;

  display: none;

  width: 100%;
  margin: 0;
  padding: 4px;
  text-align: center;

  color: $body-color-contrast;
}

.okMsg {
  background: #57a957;
}

.errMsg {
  background: #c43c35;
}

/********************************************/

/********************************************/
#pagerTop a, #pagerBottom a {
  display: block;
  width: 50%;
  max-width: 200px;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  font-weight: 700;
}

.prevNext {
  float: right;
  width: 98px;
}

$nav-bg: #000 url(trans_nav.png);

.nextLnk {
  background: $nav-bg no-repeat -283px 50%;
}

.prevLnk {
  background: $nav-bg no-repeat 15px 50%
}

/********************************************/

/********************************************/
.commAuth {
  vertical-align: top;
  padding: 7px 0 0 6px;
}

.commAuth a {
  display: block;
  width: 31px;
}

.commAuth img {
  width: 31px;
  height: 31px;
}

.comments a {
  width: 50px;
}

.comments img {
  width: 50px;
  height: auto;
}

$commText-w: 320px;

.commTextTd {
  vertical-align: top;
  padding: 0 6px 16px 10px;
  max-width: $commText-w - 16px;
  word-wrap: break-word;
}

.commText {
  max-width: $commText-w;
  overflow: hidden;
  word-wrap: break-word;
}

.commQuote {
  padding: 5px 5px;
  margin: 8px 0 8px 20px;
  background-color: #111;
  border: 1px solid #333;
  font-size: 12px;
  line-height: 15px;
}

/********************************************/

/********************************************/
$authName-w: 70%;

.authName {
  width: $authName-w;
  overflow: hidden;
  float: right;
  text-align: right;
}

.authName a {
  display: block;
  color: $body-color;
}

.authName a:hover {
  color: $body-color-hover;
}

.phRating {
  width: 100% - $authName-w;
  float: left;
}

.phRatingBlk {
  font-family: $font-title;
  float: left;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
}

#fineartAjax, #homeAlbumAjax {
  float: right;
  text-align: right;
  margin-left: 6px;
}

#addRecAjax {
  float: right;
  text-align: right;
  margin-left: 6px;
}

.recNote {
  font-family: $font-title;
  font-size: 10px;
  line-height: 11px;
  display: block;
}

.nudeWarn {
  position: absolute;
  z-index: 100;
  display: block;
  font-size: 24px;
  line-height: 30px;
  width: 100%;
  height: 30px;
  color: #ccc;
  text-align: center;
  text-decoration: underline;
}

.nudeWarn:hover {
  color: #ccc;
}

.goad {
  text-align: center;
  width: 728px;
  max-width: 100%;
  margin: 0 auto;
}

/********************************************/